*{
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    background-color: bisque;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quiz-container{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    width: 60vw;
    max-width: 100%;
    overflow: hidden;
}

.quiz-header{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
}

button{
    background-color: chocolate;
    border: none;
    display: block;
    width: 100%;
    padding: 1rem;
    color: white;
    font-family: inherit;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

button:hover{
    background-color: rgb(169, 89, 32);
}